<!-- Cookie -->
<div id="cookie_notification">
    <p class="font-regular p-dark">
        <b>Notice.</b>
        TermsFeed uses cookies to provide necessary website functionality,
        improve
        your experience and
        analyze our traffic. By using our website, you agree to our
        <a class="" style="white-space: nowrap;" href="">Privacy Policy</a> and our Cookies Policy.
    </p>
    <div class="text-center" style="margin: 0 20px;">
        <button class="cookie_accept but--home" aria-label="Accept" style="align-content: center; align-items: center">Accept</button>
    </div>
</div>