{% if messages %}
    <div class="modal" tabindex="-1" id="messagesuccess">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content form--all border--blue">
                <div class="modal-header modal--header">
                    <h5 class="modal-title form-h">Successful</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-4">
                    {% for message in messages %}
                        <p class="color--dark">{{ message|safe }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

