{% extends 'index.html' %}
{% load static %}
{% block title %}500{% endblock %}

{% block content %}

    <section class="container mb-5">
        <div class="row align-items-center">
            <div class="col-lg-12 mt-5 text-center">
                <h1>500</h1>
                <p>Access is denied</p>
                <p>You can contact us at any time via email: <strong>info@verarealty.com</strong></p>
                <a href="{% url 'index' %}" class="">GO HOME</a>
            </div>
        </div>
    </section>

{% endblock %}