{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content=""/>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static "" %}">

    <!-- Bootstrap CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Styles -->


    <!-- Title -->
    <title>{% block title %}Title{% endblock %} - Spirin Space </title>

    <!-- Include other head -->
    {% include 'main/includes/other_head.html' %}
</head>
<body>

{% block top %}
{% endblock %}

<header>
    {% include 'main/layout/header.html' %}
</header>

<main class="main-style">

    {% include 'main/modals/message.html' %}
{#    {% include 'main/modals/cookie.html' %}#}
{#    {% include 'main/modals/top_button.html' %}#}

    {% block content %}
    {% endblock %}

</main>

<footer class="footer">
    {% include 'main/layout/footer.html' %}
</footer>

<!-- Include scripts -->

</body>
</html>
