{% load i18n %}

<form method="post" id="form-write" class="vera--form">
    {% csrf_token %}
    <p>
        <input name="name"
               type="text"
               placeholder="{% trans 'Name*' %}"
               class="name--form"
               maxlength="29"
               required>
    </p>
    <p class="p_phone">
        <input id="phone_write"
               name="phone"
               type="tel"
               maxlength="10"
               pattern="[0-9]{10}"
               class="input_phone"
               required>
    </p>
    <p>
        <input name="email"
               type="text"
               pattern="[aA-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}"
               placeholder="{% trans 'Email*' %}"
               required>
    </p>
    <p class="p-area-form">
        <textarea name="message"
                  placeholder="{% trans 'Message' %}"
                  maxlength="120"
                  rows="2"
                  class="area-form"></textarea>
    </p>
    {{ form.as_p }}
    <input type="text" value="{{ url }}" name="url" hidden>

    <div class="text-center">
        <button type="submit"
                name="type_selection"
                value="write_to_us"
                class="but-main but-green w-100 mt-3">
                {% trans 'Submit' %}
        </button>
    </div>
</form>
<script>
    var input = document.querySelector("#phone_write");

    var iti = intlTelInput(input, {
        utilsScript: '/static/main/js/utils.js',
        nationalMode: true,
        initialCountry: "auto",
        geoIpLookup: function (success, failure) {
            $.get("https://ipinfo.io", function () {
            }, "jsonp").always(function (resp) {
                var countryCode = (resp && resp.country) ? resp.country : "us";
                success(countryCode);
            });
        },
        preferredCountries: ['us', 'gb', 'ru'],
        separateDialCode: true,
        singleDialCode: true,
        formatOnDisplay: true,
        hiddenInput: "full",
        autoFormat: true,
    });
</script>